body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.edit_user {
  margin: 0 auto;
  margin-top: 15px;
  max-width: 500px;
  background-color: #4f4f4f98;
  padding: 30px;
  border: 1px solid;
  border-radius: 5px;
}

.edit_user label {
  color: white;
}

.content {
  position: relative;
  z-index: 1;
  padding: 20px;
}

.line {
  position: fixed;
  background-color: #124076;
  top: -157px;
  left: -315px;
  height: 100%;
  width: 250%;
  border-top: 119px solid #f9e897;
  z-index: 0;
  transform-origin: left;
  transform: rotate(41deg);
}

.divbg {
  background-color: #ffffff;
  opacity: .95;
}

.dashboard_icon {
  display: inline-block;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  align-content: center;
  text-align: center;
  min-width: 100px;
  max-width: 100px;
  border: 1px solid;
  border-color: #bbbbbb;
  border-radius: 7%;
  box-shadow: 3px 5px 20px #eeeeee;
  transition: background-color 0.3s ease; /* Smooth transition */

  img {width: 55px;
  height: 55px;}
  p {
    text-align: center;
    margin: 5px;
    font-size: 12px;
    font-weight: 600;
  }
}

.infostand {
  width: 100px;
}

.infostand_data {
  width: fit-content;
}

.dashboard_icon:hover {
  background-color: #297fb956 !important; /* Change background color on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.error {
  color: red;
  font-size: 11px;
}
.success {
  font-size: 20px;
  color: rgb(75, 181, 67);
}
